body {
        margin-top: 2rem;
  }

.highLightButton {
    color: #fff;
background-color: #007bff;
border-color: #007bff;
}

#sideNav {
  margin-top: 1rem;
}
.addButtons{
  float: right;
}

h2{
  color: #007bff;
}
