<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <div class="container-fluid">
    <nav class="navbar  bg-light" >
      <h1>Feature Request App</h1>
    </nav>
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-2">
          </div>
          <div class="col-9">
            <div class="row">
              <div data-bind="visible: FeaturesGrid.enableFeaturesTable" class="col-2">
                <div>
                  <label class="label">
                    <h5>Features By Client</h5>
                  </label>
                </div>
                <div>
                  <select class="form-control custom-select form-control-lg" data-bind="options: FeaturesGrid.clientsList, optionsText: 'name', optionsValue: 'id',
                    optionsCaption: 'Choose Client', value: FeaturesGrid.addFeatureModel.client_id, click: FeaturesGrid.filtterFeaturesByClient">
                  </select>
                </div>
              </div>
              <div data-bind="visible: FeaturesGrid.enableFeaturesTable" class="col-2.7">
                <div>
                  <label class="label">
                    <h5>Features By Product Area</h5>
                  </label>
                </div>
                <div>
                  <select class="form-control custom-select form-control-lg" data-bind="options: FeaturesGrid.productsList, optionsText: 'name', optionsValue: 'id',
                    optionsCaption: 'Choose Product Area', value: FeaturesGrid.addFeatureModel.product_area_id, click: FeaturesGrid.filtterFeaturesByProduct">
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="col-1">
            <div >
              <button  class="btn btn-primary btn-lg btn-block" data-bind="click: FeaturesGrid.rebuildDatabase">Rebuild Database</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
    <div class="col-2">
      <div id="sideNav" class="card bg-light mb-3" style="max-width: 18rem;">
        <div class="card-header">
          <h3>Sections</h3>
        </div>
        <div class="card-body">
          <button data-bind="click: FeaturesGrid.showFeaturesTable, css: { highLightButton: FeaturesGrid.enableFeaturesTable }" type="button" class="btn btn-outline-primary btn-lg btn-block"  >Features</button><br>
          <button id="fuck1" data-bind="click: FeaturesGrid.showClientsTable, css: { highLightButton: FeaturesGrid.enableClientsTable }" type="button" class="btn btn-outline-primary btn-lg btn-block "  >Clients</button><br>
          <button data-bind="click: FeaturesGrid.showProductsTable, css: { highLightButton: FeaturesGrid.enableProductsTable }" type="button" class="btn btn-outline-primary btn-lg btn-block "  >Products Area</button>
        </div>
      </div>
    </div>
    <div class="col-10">
      <div class="form-group">
      </div>
      {% block content %}
      {% endblock %}
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src= "https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.2/knockout-min.js"></script>
    <script type="text/javascript" src= "{{ url_for('static', filename='JS/feature.service.js') }}"></script>     
    <script type="text/javascript" src= "{{ url_for('static', filename='JS/client.service.js') }}"></script> 
    <script type="text/javascript" src= "{{ url_for('static', filename='JS/product.service.js') }}"></script> 
    <script type="text/javascript" src= "{{ url_for('static', filename='JS/featureRequestApp.js') }}"></script> 
  </body>
</html>