{% extends "base.html" %}
{% block content %}
<div id="featureGrid" data-bind="visible: FeaturesGrid.enableFeaturesTable" class="card">
   <h5 class="card-header"><span><a href data-bind="click: FeaturesGrid.addFeature"  data-toggle="modal" data-target="#featureModal">
      <span style="font-size: 1.3em; color: Dodgerblue;"><i data-toggle="tooltip" data-placement="top" title="Add New Feature" class="fas fa-plus-circle"></i></span>
   </a></span>New Feature</h5>
  <div class="card-body">
    <!-- Button trigger modal -->
  <div  class="card-body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th width='6%'>Priority</th>
          <th width='9%'>Client</th>
          <th width='9%'>Title</th>
          <th width='50%'>Description</th>
          <th width='9%'>Product Area</th>
          <th width='9%'>Date</th>
          <th width='8%'>Actions</th>
        </tr>
      </thead>
      <tbody data-bind="foreach: FeaturesGrid.features">
        <tr data-bind="if: displayMode() === FeaturesGrid.displayMode.view">
          <td data-bind="text: data.client_priority"></td>
          <td data-bind="text: FeaturesGrid.showClientNametById(data.client_id())"></td>
          <td data-bind="text: data.title"></td>
          <td data-bind="text: data.description"></td>
          <td data-bind="text: FeaturesGrid.showProductNameById(data.product_area_id())"></td>
          <td data-bind="text: data.target_date"></td>
          <td><a data-toggle="tooltip" data-placement="top" title="Edit Feature" href data-bind="click: FeaturesGrid.editFeature"><span style="font-size: 1.4em; color: Mediumslateblue;"><i class="fas fa-edit"></i></span></a>
            <a data-toggle="tooltip" data-placement="top" title="Delete Feature" href data-bind="click: FeaturesGrid.deleteFeature"><span style="font-size: 1.4em; color: Tomato;"><i class="fas fa-trash-alt"></i></span></a></td>
        </tr>
        <tr data-bind="if: displayMode() === FeaturesGrid.displayMode.edit">
          <td><input type="number" class="form-control" data-bind="value: data.client_priority" required/></td>
          <td><select data-bind="options: FeaturesGrid.clientsList,
                optionsText: 'name', optionsValue: 'id', value: data.client_id" required></select></td>
          <td><input type="text" class="form-control" data-bind="value: data.title" required/></td>
          <td><input type="text" class="form-control" data-bind="value: data.description" required/></td>
          <td><select data-bind="options: FeaturesGrid.productsList,
              optionsText: 'name', optionsValue: 'id', value: data.product_area_id" required></select></td>
          <td><input type="date" class="form-control" data-bind="value: data.target_date"/></td>
          <td>
              <a  data-toggle="tooltip" data-placement="top" title="Update Feature"href data-bind="click: FeaturesGrid.updateFeature"><span style="font-size: 1.4em; color: Dodgerblue;"><i class="fas fa-wrench"></i></span></a>
          </td>
            
        </tr>
      </tbody>
            </table>
          </div>
    </div>
</div>
  <!-- Modal -->
  <div class="modal fade" id="featureModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add Feature</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div >
        <div class="modal-body">
          <form class="needs-validation" id="addFeatureForm"  data-bind="submit: FeaturesGrid.saveFeature">
            <div class="form-group">
              <label >Title</label>
              <input type="text" class="form-control" data-bind="value: FeaturesGrid.addFeatureModel.title" required>
            </div>
            <div class="form-group">
              <label >Description</label>
              <textarea type="text" class="form-control" data-bind="value: FeaturesGrid.addFeatureModel.description" rows="3" required></textarea>
            </div>
            <div class="form-group">
              <label >Client</label>
              <select data-bind="options: FeaturesGrid.clientsList, optionsText: 'name', optionsValue: 'id',
                                optionsCaption: 'Choose Client', value: FeaturesGrid.addFeatureModel.client_id" required>
              </select>
            </div>
            <div class="form-group">
              <label >Product Area</label>
              <select data-bind="options: FeaturesGrid.productsList,
                optionsText: 'name',
                optionsValue: 'id',
                optionsCaption: 'Choose Product', value: FeaturesGrid.addFeatureModel.product_area_id" required>
              </select>
            </div>
            <div class="form-group">
              <label >Priority</label>
              <input type="number" class="form-control" data-bind="value: FeaturesGrid.addFeatureModel.client_priority" required>
            </div>
            <div class="form-group">
              <label >Target Date</label>
              <input type="date" class="form-control" data-bind="value: FeaturesGrid.addFeatureModel.target_date" required>
            </div>
                   
                <button  data-toggle="modal" data-target="#featureModal" class="btn btn-primary" type="submit">Save</button>
            </form>
        </div>
      </div>
    </div>
  </div>

<div data-bind="visible: FeaturesGrid.enableClientsTable" class="card">
    <h5 class="card-header"><span><a  href data-bind="click: FeaturesGrid.addClient"  data-toggle="modal" data-target="#clientModal">
        <span style="font-size: 1.3em; color: Dodgerblue;"><i data-toggle="tooltip" data-placement="top" title="Add New Client" class="fas fa-plus-circle"></i></span>
     </a></span>New Client</h5>    
    <div class="card-body">
      <div class="card-body">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Name</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody data-bind="foreach: FeaturesGrid.clients">
            <tr data-bind="if: displayMode() === FeaturesGrid.displayMode.view">
              <td data-bind="text: data.name"></td>
               <td><a data-toggle="tooltip" data-placement="top" title="Edit Client" href data-bind="click: FeaturesGrid.editClient"><span style="font-size: 1.4em; color: Mediumslateblue;"><i class="fas fa-edit"></i></span></a>
                <a data-toggle="tooltip" data-placement="top" title="Delete Client" href data-bind="click: FeaturesGrid.deleteClient"><span style="font-size: 1.4em; color: Tomato;"><i class="fas fa-trash-alt"></i></span></a></td>
             </tr>
             <tr data-bind="if: displayMode() === FeaturesGrid.displayMode.edit">
                <td><input type="text" class="form-control" data-bind="value: data.name" /></td>
                <td>
                    <a data-toggle="tooltip" data-placement="top" title="Update Client" href data-bind="click: FeaturesGrid.updateClient"><span style="font-size: 1.4em; color: Dodgerblue;"><i class="fas fa-wrench"></i></span></a>
                </td>
             </tr>
          </tbody>
        </table>
        </div>

   </div>
  </div>
  <div class="modal fade" id="clientModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add Client</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form class="needs-validation" id="addClientForm" data-bind="submit: FeaturesGrid.saveClient">
              <div class="form-group">
                <label >Name</label>
                <input type="text" class="form-control" data-bind="value: FeaturesGrid.addClientModel.clientName" required>
              </div>
                  <button  class="btn btn-primary" data-toggle="modal" data-target="#clientModal" type="submit">Save</button>
              </form>
          </div>
        </div>
      </div>
    </div>

  <div data-bind="visible: FeaturesGrid.enableProductsTable" class="card">
      <h5 class="card-header"><span><a  href data-bind="click: FeaturesGrid.addProduct"  data-toggle="modal" data-target="#productModal">
          <span style="font-size: 1.3em; color: Dodgerblue;"><i data-toggle="tooltip" data-placement="top" title="Add New Product" class="fas fa-plus-circle"></i></span>
       </a></span>New Product Area</h5>   
      <div class="card-body">

      <div class="card-body">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Name</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody data-bind="foreach: FeaturesGrid.products">
              <tr data-bind="if: displayMode() === FeaturesGrid.displayMode.view">
                <td data-bind="text: data.name"></td>
                <td><a data-toggle="tooltip" data-placement="top" title="Edit Product" href data-bind="click: FeaturesGrid.editProduct"><span style="font-size: 1.4em; color: Mediumslateblue;"><i class="fas fa-edit"></i></span></a>
                  <a data-toggle="tooltip" data-placement="top" title="Delete Product" href data-bind="click: FeaturesGrid.deleteProduct"><span style="font-size: 1.4em; color: Tomato;"><i class="fas fa-trash-alt"></i></span></a></td>
               </tr>
               <tr data-bind="if: displayMode() === FeaturesGrid.displayMode.edit">
                  <td><input type="text" class="form-control" data-bind="value: data.name" /></td>
                  <td>
                      <a data-toggle="tooltip" data-placement="top" title="Update Product" href data-bind="click: FeaturesGrid.updateProduct"><span style="font-size: 1.4em; color: Dodgerblue;"><i class="fas fa-wrench"></i></span></a>
                  </td>
                 
               </tr>
            </tbody>
          </table>
          </div>
</div>
     </div>
     <div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Add Product Area</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form class="needs-validation" id="addProductForm" data-bind="submit: FeaturesGrid.saveProduct">
                <div class="form-group">
                  <label >Name</label>
                  <input type="text" class="form-control" data-bind="value: FeaturesGrid.addProductModel.productName" required>
                </div>
                    <button class="btn btn-primary" data-toggle="modal" data-target="#productModal" type="submit">Save</button>
                </form>
            </div>
          </div>
        </div>
      </div>


{% endblock %}
